.Result {
    width: 100%;
    height: fit-content;
    background-color: rgba(128, 128, 128, 0.472);
    border-radius: 10px;
    margin-bottom: .5%;
    padding-top: 1.5%;
    padding-bottom: .5%;
    padding-left: 2.5%;
}

.ResultLink{
    overflow-wrap: break-word;
}

.Result > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.Result > a:visited {
    color: rgb(195, 5, 195);
}

.Result > a > h3 {
    color: rgb(63, 63, 63);
    font-weight: bold;
}