.Result {
    width: 80%;
    height: fit-content;
    background-color: rgba(128, 128, 128, 0.472);
    border-radius: 10px;
    margin-bottom: .5%;
    padding: .5%;
}

.Result > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.Result > a:visited {
    color: rgb(195, 5, 195);
}